*{
    margin: 0;
    padding: 0;
}

main{
    background-image: url('./download.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content:space-around;
    padding: 10px;
}

a{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    position: relative;
    font-size: 35px;
    color: rgb(229, 255, 0);
    font-weight: bolder;
    margin-left: 300px;
}

p{
    font-size: 30px;
    color: white;
}

.circle{
    width: 70px;
    height: 70px;
    background-color: deeppink;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
   
}